@import "tailwindcss";

@theme {
  /* 背景・ボックス */
  --color-bg: 255 255 255;
  --color-box: 255 255 255;
  --box-border: 194 194 194;
  --box-sd: 39 10 97 / 0.1;

  /* カラーパレット */
  --main-section: 39 10 97;        /* #270A61 */
  --accent: 149 117 205;           /* #9575CD */
  --line: 194 194 194;             /* #C2C2C2 */

  /* テキストカラー */
  --text-main: 31 41 55;           /* #1f2937 */
  --text-sub: 39 10 97;            /* #270A61 */
  --text-accent: 55 65 81;         /* #374151 */
  --text-sub-accent: 153 153 153;  /* #999999 */

  /* 見出し用 (既存) */
  --heading-1: 23 37 84;
  --heading-2: 31 41 55;
  --heading-3: 55 65 81;
}

.dark {
  --color-bg: 3 7 18;
  --color-box: 17 24 39;
  --box-border: 243 244 246 / 0.1;
  --box-sd: transparent;
  --heading-1: 255 255 255;
  --heading-2: 243 244 246;
  --heading-3: 209 213 219;
}

@layer utilities {
  .bg-body {
    background-color: rgb(var(--color-bg));
  }
  .bg-box-bg {
    background-color: rgb(var(--color-box));
  }
  .text-heading-1 {
    color: rgb(var(--heading-1));
  }
  .text-heading-2 {
    color: rgb(var(--heading-2));
  }
  .text-heading-3 {
    color: rgb(var(--heading-3));
  }

  .border-line {
    border-color: rgb(var(--line));
  }

  .bg-accent {
    background-color: rgb(var(--accent));
  }
  .text-accent {
    color: rgb(var(--accent));
  }
  .shadow-box-shadow {
    --tw-shadow-color: rgb(var(--box-sd));
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Zen Maru Gothic", sans-serif;
  color: var(--text-main);
  font-weight: 400;
}